extends layout

block content
 include ./partials/header 
 .container
    .row
      .col-md-8.col-md-offset-2  
        if errors
         each error, i in errors
          div.alert.alert-danger #{error.msg}	
        form.form-signin(action='register', method='post', name='Login_Form', enctype='multipart/form-data')
          h3.text-center Please register to use
          hr.colorgraph
          br
          .form-group  
            input.form-control(type='text', name='name', placeholder='Name',  autofocus='')
          .form-group  
            input.form-control(type='text', name='username', placeholder='Username',  autofocus='')
          .form-group  
            input.form-control(type='email', name='email', placeholder='Email',  autofocus='')
          .form-group  
            input.form-control(type='password', name='password', placeholder='Password')
          .form-group  
            input.form-control(type='password', name='cpassword', placeholder='Password')
          .form-group  
            input.form-control(type='file', name='profile_image')
          button.btn.btn-lg.btn-primary.btn-block(name='Submit', value='Login', type='Submit')       Register
      
      